@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700");
html {
  overflow-x: hidden; }

body {
  margin: 60px auto;
  width: 70%; }

.kss-body {
  width: 100%; }

body {
  text-rendering: optimizeLegibility; }

.foo {
  text-rendering: optimizeSpeed; }

body {
  -webkit-font-smoothing: none;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Raleway', sans-serif; }

body,
input,
button {
  -webkit-font-smoothing: antialiased; }

p {
  -moz-osx-font-smoothing: grayscale; }

html {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }

h1 {
  font-size: 2em;
  /* 2*16 = 32 */ }

h2 {
  font-size: 1.5em;
  /* 1.5*16 = 24 */ }

h3 {
  font-size: 1.17em;
  /* 1.17*16 = 18.72 */ }

h4 {
  font-size: 1em;
  /* 1*16 = 16 */ }

h5 {
  font-size: 0.83em;
  /* 0.83*16 = 13.28 */ }

h6 {
  font-size: 0.75em;
  /* 0.75*16 = 12 */ }

p {
  line-height: 1.5;
  margin: 0 0 1em; }

ul {
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
  letter-spacing: 1px;
  font-weight: 300; }
  ul li {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 300; }

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em; }

ul.posts li {
  list-style: none; }

.indent p {
  margin: 0; }

.indent p + p {
  text-indent: 2em; }

p {
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

a,
a:visited {
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

.tag {
  font-size: 100%; }

code,
pre {
  font-family: monospace, serif;
  font-size: 1em; }

strong {
  font-weight: 700; }

blockquote {
  width: 80%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: #FA6900 2px solid;
  border-left: #FA6900 2px solid; }
  blockquote * {
    margin-bottom: 0px; }

.btn {
  display: inline-block;
  padding: 15px 30px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1em;
  color: white;
  background-color: orange; }
  .btn:hover, .btn:focus {
    text-decoration: none;
    background-position: 0 -15px;
    background-color: green; }
  .btn.active, .btn:active {
    background-image: none;
    outline: 0;
    background-color: red; }
  .btn.disabled, .btn[disabled] {
    cursor: default;
    background-image: none;
    background-color: lightgrey; }
  .btn.btn-primary {
    padding: 15px 30px;
    font-size: 1.5em; }

nav ul, footer ul {
  padding: 0;
  list-style: none;
  font-weight: bold; }

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px; }

nav ul li a, footer ul li a {
  font-weight: bold; }

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em; }
