// Primary Colors
//
// Weight: 1
//
// The primary colors for branding.
//
//$brand-one  -  #FA6900; Unreal Food Pills
//$brand-two  -  #F38630; Giant Gold Fish
//$brand-three -  #69d2e7; AOI
//$brand-four  -  #A7DBD8;  Clean Pondwater
//$brand-five  -  #E0E4CC; Beach Storm
//
// Styleguide colours.brand


// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-one: #FA6900;
$brand-two: #F38630;
$brand-three: #69d2e7;
$brand-four: #A7DBD8;
$brand-five: #E0E4CC;

// Base Colors
//
// Weight: 2
//
// Base primary colors for branding.
//
// $text-colour - #2b2b2b;  Text Colour
//$white -  #ffffff;  White
//$black - #000000; Black
//
// Styleguide colours.base

$text-colour: #2b2b2b;
$white: #ffffff;
$black:#000000;